<p>
    <mat-toolbar color="primary">
        <span> Employee Store </span>
    </mat-toolbar>
</p>

<div class="row col-12">
    <table mat-table [dataSource]="emps$" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> E-MAIL </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
        </ng-container>
        <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
        </ng-container>
        <ng-container matColumnDef="avatar">
            <th mat-header-cell *matHeaderCellDef> Avatar</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.avatar && element.avatar?.length !== 0;else noPhoto">
                    <img src="{{element.avatar}}" alt="">
                </div>

                <ng-template #noPhoto>No Photo Available</ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <div class="example-button-row">

                    <button mat-raised-button color="primary" (click)="edit(element, i)">Edit</button>

                    <button mat-raised-button color="warn" (click)="delete(i)">Delete</button>
                </div>

            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>
<div class="container">
    <div style="text-align: center;">
        <button mat-raised-button color="primary" (click)="createNew()">Add New Employee</button>
    </div>
</div>
